@media screen and (max-width: 800px) {

  .main {
    width: calc(100vw - 40px) !important;
    min-height: 812px !important;
    background-color: #ffffff !important;
    position: absolute !important;
    margin: 20px !important;
  }
  .main2 {
    width: calc(100vw - 40px) !important;
    min-height: 812px !important;
    background-color: #ffffff !important;
    position: absolute !important;
    margin: 20px !important;
  }
  #headshot {
    padding-top: 9vh !important;

    > img {
      width: 150px !important;
      height: 150px !important;
    }
  }
  #tagline {
    font-size: 12pt !important;
    line-height: 1.5em !important;
    margin: 10vh 10vw 50px 10vw !important;
    text-align: center !important;
  }
  #nav {
    left: calc(100vw - 43px) !important;
  }
  #statement {
    margin: 8% !important;
    line-height: 1.5em !important;
    text-align: center !important;
    font-size: 10pt !important;
  }
  #resume {
    font-size: 12pt !important;
    margin: 0 auto !important;
    width: 60% !important;
  }
  #social {
    padding-top: 5vh;
    margin: 0 auto !important;
    flex-wrap: wrap !important;
    width: 60% !important;
  }
}