/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #eafffc;
}

a {
  color: #bde6e3;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
    color: #97b8b5;
  }
}

h1 {
  font-family: "Lucida Sans Typewriter","Lucida Console",Monaco,"Bitstream Vera Sans Mono",monospace;
  font-style: normal;
  font-size: 24px;
  text-align: center;
  color: blue;
}

p {
  font-size: 13pt;
  font-family: "Lucida Sans Typewriter","Lucida Console",Monaco,"Bitstream Vera Sans Mono",monospace;
  line-height: 1.3em;
  color: #868686;
  text-align: center;
}

.svg path {
  fill: #868686 !important;
}
.svg text {
  fill: #868686 !important;
}
.svg {
  fill: #868686 !important;
}

#headshot > img {
  display: block;
  background: transparent;
  border-radius: 125px;
  margin: 0 auto;
}

#headshot {
  position: relative;
  display: flex;
  width: 100%;
  padding-top: 18vh;
}

.main {
 width: calc(100vw - 80px);
 height: calc(100vh - 80px);
 background-color: white;
 position: absolute;
 margin: 40px;
}

.arrow {
  display: flex;
  position: absolute;
  width: 100%;
  justify-content: center;
  font-size: 16pt;
  color: #868686;
}

.arrowtext {
  color: #868686;
}

#tagline, #statement {
  position: relative;
}

#tagline {
  font-size: 18pt;
  line-height: 1.5em;
  margin: 10vh 18vw 50px 18vw;
  text-align: center;
}

#statement {
  margin: 18vh 18vw 50px 18vw;
  line-height: 1.5em;
  text-align: center;
}

#resume {
  font-size: 18pt;
}

#social {
  display: flex;
  justify-content: space-between;
  margin: 50px 30vw 0 30vw;
}

#email {
  transform: rotate(-90deg);
  transform-origin: left top 0;
}

#email a {
  font-size: 16pt;
  font-family: Georgia, serif;
  color: #868686;
  text-decoration:none;
  &:hover {
    text-decoration: none;
    color: #97b8b5;
  }
}

//.email {
//  display: flex;
//  justify-content: center;
//  margin-top: 10vh;
//}

//.contactButton {
//  background-color:#cccccc;
//  -moz-border-radius:13px;
//  -webkit-border-radius:13px;
//  border-radius:13px;
//  display:inline-block;
//  cursor:pointer;
//  color:#ffffff;
//  font-size:18px;
//  padding:16px 50px;
//  text-decoration:none;
//}
//.contactButton a {
//  color: #ffffff;
//  text-decoration:none;
//}
//.contactButton:hover {
//  background-color:#000000;
//  text-decoration:none;
//}
//.contactButton:active {
//  position:relative;
//  top:1px;
//}

.scroll-animations p {
  opacity: 0;
}

.fadein-animations {
  opacity: 1;
}

.fadeindown-animations {
  opacity: 1;
}

.fadeinup-animations {
  opacity: 1;
}
