/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #eafffc;
}

a {
  color: #bde6e3;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

h1 {
  font-family: "Lucida Sans Typewriter","Lucida Console",Monaco,"Bitstream Vera Sans Mono",monospace;
  font-style: normal;
  font-size: 24px;
  text-align: center;
  color: blue;
}

p {
  font-size: 13pt;
  font-family: "Lucida Sans Typewriter","Lucida Console",Monaco,"Bitstream Vera Sans Mono",monospace;
  line-height: 1.3em;
  color: #868686;
  text-align: center;
}

.svg path {
  fill: #868686 !important;
}
.svg text {
  fill: #868686 !important;
}
.svg {
  fill: #868686 !important;
}

#headshot > img {
  display: block;
  background: transparent;
  border-radius: 125px;
  margin: 0 auto;
}

#headshot {
  position: relative;
  display: flex;
  width: 100%;
  padding-top: 18vh;
}

.main {
 width: calc(100vw - 80px);
 height: calc(100vh - 80px);
 background-color: white;
 position: absolute;
 margin: 40px;
}

.arrow {
  display: flex;
  position: absolute;
  width: 100%;
  justify-content: center;
  font-size: 16pt;
  &:hover {
    animation: bounce 1s;
  }
}

#tagline, #statement {
  position: relative;
}

#tagline {
  font-size: 18pt;
  line-height: 1.5em;
  margin: 10vh 18vw 50px 18vw;
  text-align: center;
}

#statement {
  margin: 15vh 18vw 50px 18vw;
  line-height: 1.5em;
  text-align: center;
}

#resume {
  font-size: 18pt;
}

#social {
  display: flex;
  justify-content: space-between;
  margin: 50px 30vw 0 30vw;
}

@keyframes bounce {
  0%, 20%, 60%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}
