/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 6, ../sass/screen.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 11, ../sass/screen.scss */
html {
  background-color: #eafffc;
}

/* line 15, ../sass/screen.scss */
a {
  color: #bde6e3;
  text-decoration: none;
}
/* line 18, ../sass/screen.scss */
a:hover {
  text-decoration: underline;
  color: #97b8b5;
}

/* line 24, ../sass/screen.scss */
h1 {
  font-family: "Lucida Sans Typewriter","Lucida Console",Monaco,"Bitstream Vera Sans Mono",monospace;
  font-style: normal;
  font-size: 24px;
  text-align: center;
  color: blue;
}

/* line 32, ../sass/screen.scss */
p {
  font-size: 13pt;
  font-family: "Lucida Sans Typewriter","Lucida Console",Monaco,"Bitstream Vera Sans Mono",monospace;
  line-height: 1.3em;
  color: #868686;
  text-align: center;
}

/* line 40, ../sass/screen.scss */
.svg path {
  fill: #868686 !important;
}

/* line 43, ../sass/screen.scss */
.svg text {
  fill: #868686 !important;
}

/* line 46, ../sass/screen.scss */
.svg {
  fill: #868686 !important;
}

/* line 50, ../sass/screen.scss */
#headshot > img {
  display: block;
  background: transparent;
  border-radius: 125px;
  margin: 0 auto;
}

/* line 57, ../sass/screen.scss */
#headshot {
  position: relative;
  display: flex;
  width: 100%;
  padding-top: 18vh;
}

/* line 64, ../sass/screen.scss */
.main {
  width: calc(100vw - 80px);
  height: calc(100vh - 80px);
  background-color: white;
  position: absolute;
  margin: 40px;
}

/* line 72, ../sass/screen.scss */
.arrow {
  display: flex;
  position: absolute;
  width: 100%;
  justify-content: center;
  font-size: 16pt;
  color: #868686;
}

/* line 81, ../sass/screen.scss */
.arrowtext {
  color: #868686;
}

/* line 85, ../sass/screen.scss */
#tagline, #statement {
  position: relative;
}

/* line 89, ../sass/screen.scss */
#tagline {
  font-size: 18pt;
  line-height: 1.5em;
  margin: 10vh 18vw 50px 18vw;
  text-align: center;
}

/* line 96, ../sass/screen.scss */
#statement {
  margin: 18vh 18vw 50px 18vw;
  line-height: 1.5em;
  text-align: center;
}

/* line 102, ../sass/screen.scss */
#resume {
  font-size: 18pt;
}

/* line 106, ../sass/screen.scss */
#social {
  display: flex;
  justify-content: space-between;
  margin: 50px 30vw 0 30vw;
  opacity: 0 !important;
}

/* line 113, ../sass/screen.scss */
.nav-parent {
  position: fixed;
  display: flex;
  justify-content: center;
  flex-direction: column;
  top: 0;
  height: 100vw;
  width: 100px;
  left: calc(100vw - 100px);
}

/* line 124, ../sass/screen.scss */
.nav-parent {
  opacity: 0 !important;
}

/* line 128, ../sass/screen.scss */
#nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  top: 42vh;
  height: 200px;
  left: calc(100vw - 100px);
  transform-origin: 50% 50%;
  transform: translate(0, -66px);
}

/* line 140, ../sass/screen.scss */
#email {
  transform: rotate(-90deg) translate(100%, -73.5px);
  transform-origin: right bottom;
}

/* line 145, ../sass/screen.scss */
#email a {
  font-size: 14pt;
  font-family: Palatino, serif;
  letter-spacing: 0.08em;
  right: 0;
  bottom: 0;
  height: 87.6px;
  color: #868686;
  text-decoration: none;
  white-space: nowrap;
}
/* line 155, ../sass/screen.scss */
#email a:hover {
  text-decoration: none;
  color: #97b8b5;
}

/* line 161, ../sass/screen.scss */
#dot1, #dot2 {
  height: 6px;
  width: 6px;
  opacity: 1;
  border-radius: 50%;
  border: solid 1px;
  color: #868686;
  display: inline-block;
  background-color: #ffffff;
}

/* line 172, ../sass/screen.scss */
.verticalLine1 {
  height: 50px;
  border-left: 1px solid #868686;
  transform: translate(3px, -66px);
}

/* line 177, ../sass/screen.scss */
.verticalLine2 {
  height: 50px;
  border-left: 1px solid #868686;
  transform: translate(3px, 0);
}

/* line 183, ../sass/screen.scss */
.scroll-animations p {
  opacity: 0;
}

/* line 195, ../sass/screen.scss */
.fadeindown-animations {
  opacity: 1;
}

/* line 199, ../sass/screen.scss */
.fadeinup-animations {
  opacity: 1;
}
